/* ------------------ NAVIGATION BAR ------------------ */

.header .navbar {
  background: #7c2b2b;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  justify-content: space-between;
}

.name {
    display: grid;
    grid-template-columns: 70px 1fr;
}

.logo {
    display: flex;
    align-items: left;
    width: 70px;
}

.namePos {
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 18px;
    padding: 14px 20px;
}

.nav a {
    color: #fff;
    margin: 0 12px;
    font-size: 15px;
    letter-spacing: 1px;
}

.searchBar[type="search"]{
    padding: 6px 10px;
    border-radius: 18px;
    border: none;
    min-width: 160px;
}

/* ------------------ BACKGROUND ------------------ */

.bg1 {
    background-image: url('!ISKOLAR4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150vh;
}

/* ------------------ ACCOUNT TYPE GRID ------------------ */

.account-type-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

.account-type-section {
    text-align: center;
}

.account-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.acc-btn {
    background: #ffe5e5;
    border: 2px solid #7c2b2b;
    padding: 20px;
    border-radius: 12px;
    width: 375px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.acc-btn:hover {
    background: #f7d0d0;
}

/* ACTIVE BUTTON STATE FOR TEACHER/STUDENT SELECTION */
.active-account {
    background: #903131 !important;
    color: #fff;
    transform: scale(1.03);
}

/* IMG INSIDE BUTTON */
.acc-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

/* ------------------ SIGN-IN FORM ------------------ */

.signin-container {
    width: 350px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border: 2px solid #7c2b2b;
    border-radius: 12px;
}

.signin-container h2 {
    text-align: center;
    color: #7c2b2b;
}

#signinForm input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

#signinBtn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #7c2b2b;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#signinBtn:hover {
    background: #5a1f1f;
}

/* ------------------ FOOTER ------------------ */

footer {
  background: linear-gradient(90deg, #5e1f1f, #8b2f2f);
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.35);
}
