body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url("ISKOLAR (1).png") no-repeat center center/cover;
    background-color: #5e0a0a;
    background-blend-mode: multiply;
    height: 100vh;
}

/* LOGIN WRAPPER */
.login-wrapper {
    width: 60%;
    margin: 80px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 35px;
    backdrop-filter: blur(2px);
}

/* TABS */
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    transition: 0.25s ease;
    color: #5e0a0a;
}

.tab.active {
    border-bottom: 3px solid #7c2b2b;
}

/* INPUT FIELDS */
input {
    width: 90%;
    margin: 18px auto;
    padding: 10px 5px;
    font-size: 16px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #b0a9a9;
    outline: none;
    color: #4c4c4c;
}

input::placeholder {
    color: #a48f8f;
    font-style: italic;
}

/* SIGN IN BUTTON */
.sign-btn {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 12px;
    background: #813333;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

.sign-btn:hover {
    background: #692828;
}

/* FORGOT PASSWORD */
.forgot {
    text-align: right;
    font-size: 14px;
    color: #7c4e4e;
    margin-top: -20px;
    margin-right: 5%;
}

/* Footer */
footer {
    background: linear-gradient(90deg, #5e1f1f, #8b2f2f);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.25);
    font-size: 14px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .heading h1 {
        font-size: 60px;
    }

    .heading p {
        font-size: 22px;
    }

    .namePos {
        font-size: 16px;
    }
}
